<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>商品展示</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/jquery-ui.css">

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/dist/metismenu/metisMenu.min.css">

    <link rel="stylesheet" href="assets/css/animate.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/order.css">
    <link rel="stylesheet" href="assets/css/orderConfirm.css">
    <link rel="stylesheet" href="assets/css/cart.css">


    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.ico">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="preloader"></div>

<div th:replace="common::commonheader"></div>

<div class="cryptodash-full-wrapper">
    <div class="crypto-dash-sidenav">
        <div id="sideNavWrapper" class="active">

            <div th:replace="common::commonleftnav"></div>
            <div class="container">
                <div class="col-md-offset-1 col-md-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="panel-title"><span class="fa fa-shopping-cart"></span> 购物车</p>
                        </div>
                        <div class="panel-body" id="change-body">
                            <form action="/orderConfirm" role="form" method="get">
                                <!--购物车表格开始-->
                                <table class="cart-table" width="100%">
                                    <thead>
                                    <tr>
                                        <th width="8%">
                                            <input type="checkbox" class="ckall" id="checked-all"/>全选
                                        </th>
                                        <th width="110"></th>
                                        <th width="29%">商品</th>
                                        <th width="11%">单价</th>
                                        <th width="15%">数量</th>
                                        <th width="11%">金额</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="cart-list" class="cart-body">
                                    </tbody>
                                </table>
                                <div class="total-bar">
                                    <span onclick="checkedDel()"
                                          class="cart-del-sel btn btn-default btn-xs">删除所选商品</span>
                                    <span class="pull-right">已选商品
								<span id="selectCount"></span><i id="countI">0</i>件 总价¥
								<span id="selectTotal"></span><i id="priceI">0</i>元
								</span>
                                </div>
                                <div>
								<span class="pull-right">
								<input type="submit" value="  结  算  " class="btn btn-primary btn-lg link-account"/>
							</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common::commonscipt"></div>

<script type="text/javascript">
    $(function () {
        showCartList();
    });

    /** 展示购物车列表数据*/
    function showCartList() {
        /** 清空数据*/
        $("#cart-list").empty();
        $.ajax({
            url: "/carts/cart",
            type: "POST",
            dataType: "JSON",
            success: function (json) {
                let list = json.data;
                for (let i = 0; i < list.length; i++) {
                    let tr =
                        '<tr>' +
                        '<td>' +
                        '<input name="cartIds" value="#{cid}" type="checkbox" class="ckitem"/>' +
                        '</td>' +
                        '<td><img src="assets/#{image}collect.png" class="img-responsive"/></td>' +
                        '<td>#{title}#{msg}</td>' +
                        '<td>¥<span id="goodsPrice#{cid}">#{singlePrice}</span></td>' +
                        '<td>' +
                        '<input id="price-#{cid}" type="button" value="-" class="num-btn" onclick="reduceNum(#{cid})"/>' +
                        '<input id="goodsCount#{cid}" type="text" size="2" readonly="readonly" class="num-text" value="#{num}"/>' +
                        ' <input id="price+#{cid}" class="num-btn" type="button" value="+" onclick="addNum(#{cid})"/>' +
                        '</td>' +
                        '<td><span id="goodsCast#{cid}">#{totalPrice}</span></td>' +
                        '<td>' +
                        '<input type="button" onclick="delCartItem(#{cid})" class="cart-del btn btn-default btn-xs" value="删除"/>' +
                        '</td>' +
                        '</tr>';
                    tr = tr.replace(/#{cid}/g, list[i].cartId);
                    tr = tr.replace(/#{image}/g, list[i].image);
                    tr = tr.replace(/#{title}/g, list[i].title);
                    tr = tr.replace(/#{msg}/g, list[i].realPrice);
                    tr = tr.replace(/#{num}/g, list[i].num);
                    tr = tr.replace(/#{singlePrice}/g, list[i].price);
                    tr = tr.replace(/#{totalPrice}/g, list[i].price * list[i].num);
                    $("#cart-list").append(tr);
                }
            },
            error: function (xhr) {
                alert("数据加载异常" + xhr.message);
            }
        });
    }

    function addNum(cid) {
        $.ajax({
            url: "/carts/" + cid + "/num/add",
            type: "POST",
            dataType: "JSON",
            success: function (json) {
                if (json.state === 200) {
                    $("#goodsCount" + cid).val(json.data);
                    /** html:获取某个标签内部内容*/
                    let price = $("#goodsPrice" + cid).html();
                    let totalPrice = price * json.data;
                    $("#goodsCast" + cid).html(totalPrice);
                } else {
                    alert("增加购物车数据失败" + json.message);
                }
            },
            error: function (xhr) {
                alert("购物车加载产生未知异常！" + xhr.message);
            }
        });
    }

    function reduceNum(cid) {
        $.ajax({
            url: "/carts/" + cid + "/num/subtract",
            type: "POST",
            dataType: "JSON",
            success: function (json) {
                if (json.state === 200) {
                    $("#goodsCount" + cid).val(json.data);
                    if (json.data === 0) {
                        delCartItem(cid);
                    }
                    /** html:获取某个标签内部内容*/
                    let price = $("#goodsPrice" + cid).html();
                    let totalPrice = price * json.data;
                    $("#goodsCast" + cid).html(totalPrice);
                } else {
                    alert("增加购物车数据失败" + json.message);
                }
            },
            error: function (xhr) {
                alert("购物车加载产生未知异常！" + xhr.message);
            }
        });
    }


    function delCartItem(cid) {
        $.ajax({
            url: "/carts/" + cid + "/del",
            type: "POST",
            dataType: "JSON",
            success: function (json) {
                if (json.state === 200) {
                    showCartList();
                } else {
                    alert("删除购物车信息失败");
                    location.href = "/cart";
                }
            },
            error: function (xhr) {
                alert("删除时出现位置异常" + xhr.message);
            }
        });
    }

    function checkedDel() {
        for (let i = 0; i < $(".ckitem").length; i++) {
            console.log($(".ckitem").length);
            if ($(".ckitem").eq(i).is(':checked')) {
                let id = $(".ckitem").eq(i).val();
                delCartItem(id);
                console.log(id);
            }
        }
    }

    $("#checked-all").change(function () {
        if ($(this).is(':checked')) {
            $(".ckitem").prop("checked", true);
        } else {
            $(".ckitem").prop("checked", false);
        }
    });


</script>
</body>
</html>
