<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共页面</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/jquery-ui.css">

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/dist/metismenu/metisMenu.min.css">

    <link rel="stylesheet" href="assets/css/animate.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/order.css">
    <link rel="stylesheet" href="assets/css/orderConfirm.css">
    <link rel="stylesheet" href="assets/css/cart.css">

</head>
<body>
<div th:fragment="commonheader">
    <header class="cryptodash-header cdh-light">
        <nav class="navbar navbar-expand-lg cryptodash-nav">
            <a class="navbar-brand" href="#">
                <div class="logo">
                    <form id="form-avatar">
                        <img id="img-avatar" src="assets/img/common/logo.png" alt="">
                    </form>
                </div>
            </a>
            <a id="sideNav-toggle" href="#"><span id="main_icon" class="fa fa-bars"></span></a>
            <div class="collapse navbar-collapse right-nav" id="navbarTogglerDemo02">
                <form class="form-inline my-2 my-lg-0 cryptoH-search">
                    <input class="form-control" type="search" placeholder="Search Anything">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <ul class="nav navbar-header-nav ml-auto crypto-user-btn">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-fw fa-bell"></i>
                            <span class="label label-notify b-orange">
                            5
                            <span class="waves"></span>
                        </span>
                        </a>
                        <ul class="dropdown-menu pull-right w-sm animated fadeInUp message-note">
                            <li class="p-tb-5">
                                <a href="chat.html">
                                    <div class="clearfix">
                                        <span class="pull-right text-muted small">7 minutes ago</span>
                                        <i class="fa fa-envelope fa-fw"></i>
                                        <span>7 Messages</span>
                                    </div>
                                </a>
                            </li>
                            <li class="p-tb-5">
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-right text-muted small">6 minutes ago</span>
                                        <i class="fa fa-twitter fa-fw"></i>
                                        <span>6 Follower</span>
                                    </div>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="p-tb-5 text-center">
                                <a class="text-btn-note" href="#">
                                    <i class="fa fa-fw fa-bell"></i> See all Notification</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="/cart">
                            <span class="b-wisteria fa fa-shopping-cart u-posRelative"></span>
                            <span class="waves"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <img class="img-circle" id="img-circle" src="assets/img/avatar/img_2.png"
                                 alt="avatar">
                        </a>
                        <ul class="dropdown-menu animated flipInX pull-right admin-user">
                            <li>
                                <b class="user-display-name">[[${session.username}]]</b>
                                <a href="/info">个人信息</a>
                            </li>
                            <li>
                                <a href="/avatar">更换头像</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/signOut"><i class="fa fa-fw fa-sign-out"></i> 注销用户</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<div th:fragment="commonleftnav">
    <div id="sidebar-wrapper">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="menu3">
                <li>
                    <a href="/index">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="msm-text">首页</span>
                    </a>
                </li>
                <li>
                    <a href="/buySell">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="msm-text">购物</span>
                    </a>
                </li>
                <li class="mm-active">
                    <a href="/info">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span class="msm-text">信息</span>
                    </a>
                </li>
                </li>
                <li>
                    <a href="/signOut">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span class="msm-text">注销</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:fragment="commonscipt">
    <script src="assets/js/jquery-3.2.0.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src="assets/js/jquery.scrollUp.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>

    <script src="assets/js/Chart.min.js"></script>
    <script src="assets/js/ChartUtils.js"></script>

    <script src="assets/dist/metismenu/metisMenu.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/graph-chart-activation.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/jquery-getUrlParam.js"></script>
</div>
</body>
</html>