<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指定当前映射文件和哪个接口进行映射-->
<mapper namespace="com.atmae.store.mapper.UserMapper">
    <resultMap id="UserEntityMap" type="com.atmae.store.entity.User">
        <!--定义映射规则时 主键不可省略-->
        <id column="uid" property="userId"></id>
        <result column="is_delete" property="isDelete"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user(username, password, salt, phone, email, gender, avatar,
                           is_delete, created_user, created_time, modified_user,
                           modified_time)
        values (#{username}, #{password}, #{salt}, #{phone}, #{email}, #{gender}, #{avatar},
                #{isDelete}, #{createdUser}, #{createdTime}, #{modifiedUser},
                #{modifiedTime})
    </insert>

    <select id="findByUsername" resultMap="UserEntityMap">
        select *
        from t_user
        where username = #{username}
    </select>

    <update id="updatePasswordByUserId">
        update t_user
        set password=#{password},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        where uid = #{userId}
    </update>

    <select id="findInfoByUserId" resultMap="UserEntityMap">
        select *
        from t_user
        where uid = #{userId}
    </select>

    <update id="updateInfoByUserId">
        update t_user
        /* if条件判断标签，test接受到的是一个返回值为boolean类型的条件，
        如果test条件的结果为true则执行if标签内部的语句。*/
        set
        <if test="phone!=null">phone=#{phone},</if>
        <if test="email!=null">email=#{email},</if>
        <if test="gender!=null">gender=#{gender},</if>
        modified_user=#{modifiedUser},
        modified_time=#{modifiedTime}
        where uid = #{userId}
    </update>

    <update id="updateAvatarByUserId">
        update t_user
        set avatar=#{avatar},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        where uid = #{userId}
    </update>
</mapper>